html(lang="en")
  head
    title= "Error 500"
  body(style="text-align: center")
    h1 500 Internal Server Error
    p An internal server error has occurred while making this request - please check the console for more information.
    hr
    p ImageAPI
