html(lang="en")
  head
    title= "Error 401"
  body(style="text-align: center")
    h1 401 Unauthorized Error
    p An invalid token was provided in the header of your request.
    hr
    p ImageAPI
