html(lang="en")
  head
    title= "Error 400"
  body(style="text-align: center")
    h1 400 Bad Request
    p An invalid request was made to the API - please check the console for more information.
    hr
    p ImageAPI
