html(lang="en")
  head
    title= "TrainerGamer's CDN"
    link(rel='stylesheet', href='/static/css/main.css')
    script(rel='stylesheet' src="https://fonts.googleapis.com/css2?family=Poppins&display=swap")
    script(rel='stylesheet' src="https://fonts.googleapis.com/css2?family=Quicksand&display=swap")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  body
  div(class='center')
    h2 Welcome to
    h1 TrainerGamer's CDN
    p This is a simple image API made with #[a(href="https://expressjs.com/") Express.JS] (back-end) and #[a(href="https://pugjs.org/") Pug] (front-end)!
  div(id="footer") #[i(class="fas fa-code")] Front-end and modified back-end by #[a(href="https://github.com/TrainerGamer") TrainerGamer] - Original back-end by #[a(href="https://github.com/BitesizedLion/ShareAPI") Casper S.]